/* =======================================================================
Template Name: Youtubers
Author:  SmartEye Technologies
Author URI: www.smarteyeapps.com
Version: 1.0
coder name:Prabin Raja
Description: This Template is created for Youtubers
======================================================================= */
/* ===================================== Import Variables ================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);
/* ===================================== Basic CSS ==================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: #444; }

a:hover {
  color: #444; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }

html, body {
  height: 100%; }

p {
  margin-bottom: 0px;
  width: 100%; }

.no-padding {
  padding: 0px; }

.no-margin {
  margin: 0px; }

.hid {
  display: none; }

.top-mar {
  margin-top: 15px; }

.h-100 {
  height: 100%; }

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: .5 !important; }

.container-fluid {
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #545454; }

strong {
  font-family: "Open Sans", sans-serif; }

body {
  background-color: #f1f1f145 !important;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #6A6A6A;
  overflow-x: hidden; }

.session-title {
  padding: 30px;
  margin: 0px;
  margin-bottom: 20px; }
  .session-title h2 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
  .session-title p {
    max-width: 850px;
    text-align: center;
    float: none;
    margin: auto;
    font-size: .83rem;
    margin-top: 15px; }
  .session-title span {
    float: right;
    font-style: italic; }

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0px; }
  .inner-title h2 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #863dd9;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: 300px; }
  .inner-title p {
    width: 100%;
    text-align: center; }
  .inner-title .btn {
    float: right;
    margin-top: -38px;
    font-weight: 600;
    font-size: .8rem; }

.page-nav {
  background-size: 100%;
  padding: 68px;
  text-align: center;
  background-color: #eaeaea; }
  .page-nav ul {
    float: none;
    margin: auto; }
  @media screen and (max-width: 992px) {
    .page-nav {
      background-size: auto; } }
  @media screen and (max-width: 767px) {
    .page-nav {
      padding-top: 100px; } }
  @media screen and (max-width: 356px) {
    .page-nav {
      padding-top: 200px; } }
  .page-nav h2 {
    font-size: 28px;
    width: 100%;
    font-weight: 700;
    color: #444; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-size: .93rem;
    font-weight: 600;
    color: #444; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444;
      font-size: .93rem;
      font-weight: 600; }

.btn-success {
  background-color: #51be78;
  border-color: #51be78; }
  .btn-success:hover {
    background-color: #51be78 !important;
    border-color: #51be78 !important; }
  .btn-success:active {
    background-color: #51be78 !important;
    border-color: #51be78 !important; }
  .btn-success:focus {
    background-color: #51be78 !important;
    border-color: #51be78 !important;
    box-shadow: none !important; }

.btn-primary {
  background-color: #066aff;
  border-color: #066aff; }
  .btn-primary:hover {
    background-color: #066aff !important;
    border-color: #066aff !important; }
  .btn-primary:active {
    background-color: #066aff !important;
    border-color: #066aff !important; }
  .btn-primary:focus {
    background-color: #066aff !important;
    border-color: #066aff !important;
    box-shadow: none !important; }

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

.form-control:focus {
  box-shadow: none !important;
  border: 0px; }

.btn-light {
  background-color: #FFF;
  color: #3F3F3F; }

.collapse.show {
  display: block !important; }

.form-control:focus {
  box-shadow: none;
  border: 0px; }

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px; }
  .form-control:focus {
    background-color: #FFF;
    border-color: #CCC; }

.container {
  max-width: 1170px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 10px 15px; } }

/* ===================================== Login Page Design CSS ==================================== */
.form-login-body {
  background-image: url(../images/bglogin.jpg);
  background-size: cover; }
  @media screen and (max-width: 991px) {
    .form-login-body {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 480px) {
    .form-login-body {
      padding-left: 15px;
      padding-right: 15px; } }
  .form-login-body .login-desk {
    filter: drop-shadow(0 0 13.5px rgba(0, 0, 0, 0.09));
    margin-top: 5%;
    margin-bottom: 5%; }
    .form-login-body .login-desk .detail-box {
      background-color: #f3f4f8;
      padding: 20px; }
      .form-login-body .login-desk .detail-box .logo {
        width: 130px; }
      .form-login-body .login-desk .detail-box .help {
        width: 450px;
        margin-top: 30px;
        margin-bottom: 50px; }
      .form-login-body .login-desk .detail-box .detailsh {
        text-align: center; }
        .form-login-body .login-desk .detail-box .detailsh h3 {
          font-size: 1.2rem;
          margin-bottom: 15px; }
        .form-login-body .login-desk .detail-box .detailsh p {
          font-size: .8rem; }
    .form-login-body .login-desk .loginform {
      background-color: #fff;
      text-align: center;
      color: #FFF;
      padding: 0px; }
      .form-login-body .login-desk .loginform a {
        color: #FFF; }
      .form-login-body .login-desk .loginform h4 {
        color: #FFF;
        font-size: 1.3rem; }
      .form-login-body .login-desk .loginform p {
        font-size: .8rem;
        margin-bottom: 50px; }
      .form-login-body .login-desk .loginform .login-det {
        padding: 30px;
        padding-bottom: 80px; }
        .form-login-body .login-desk .loginform .login-det img {
          margin-top: -70px; }
        .form-login-body .login-desk .loginform .login-det .form-row {
          margin-top: 20px; }
          .form-login-body .login-desk .loginform .login-det .form-row label {
            font-size: .85rem; }
        .form-login-body .login-desk .loginform .login-det .input-group .input-group-prepend .input-group-text {
          background-color: #3d46a7;
          color: #ffffffcf;
          border-right: 0px;
          border: 0px; }
        .form-login-body .login-desk .loginform .login-det .input-group .form-control {
          background-color: #3d46a7;
          color: #FFF;
          border-left: 0px;
          border: 0px; }
        .form-login-body .login-desk .loginform .login-det .input-group .form-control:focus {
          border: 0px; }
        .form-login-body .login-desk .loginform .login-det .btn-danger {
          width: 100%;
          border-radius: 0px;
          background-color: #fa607e;
          border-radius: 50px; }
      .form-login-body .login-desk .loginform .forget {
        text-align: right; }
      .form-login-body .login-desk .loginform .social-link ul {
        float: right;
        margin-top: 30px; }
        .form-login-body .login-desk .loginform .social-link ul li {
          float: left;
          padding: 15px;
          font-size: .9rem; }
      .form-login-body .login-desk .loginform .log-txt {
        background-color: #066aff;
        padding: 40px;
        padding-bottom: 90px; }
        .form-login-body .login-desk .loginform .log-txt h2 {
          text-align: left;
          color: #FFF;
          font-size: 1rem;
          font-weight: 600;
          line-height: 25px; }
        .form-login-body .login-desk .loginform .log-txt p {
          text-align: left;
          margin-top: 10px;
          margin-bottom: 30px; }
        .form-login-body .login-desk .loginform .log-txt .btn {
          border-radius: 50px;
          padding-right: 30px;
          padding-left: 30px;
          font-size: .85rem; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */ }

::-moz-placeholder {
  /* Firefox 19+ */ }

:-ms-input-placeholder {
  /* IE 10+ */ }

:-moz-placeholder {
  /* Firefox 18- */ }

.detailsh {
  text-align: center;
  padding-top: 65px; }
  .detailsh img {
    margin-bottom: 32px;
    max-width: 90px; }
  .detailsh .form-ro input {
    background-color: #FFF;
    border-radius: 0px; }
  .detailsh .fgbh a {
    font-size: .8rem;
    padding-top: 5px; }
  .detailsh .fgbh .btn {
    border-radius: 50px;
    padding-right: 15px;
    padding-left: 15px;
    float: right; }
  .detailsh .hlio {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #CCC; }
    .detailsh .hlio .btn {
      box-shadow: none; }
    .detailsh .hlio a {
      font-weight: 600;
      color: #007bff; }

/* ===================================== Responsive Style CSS ==================================== */
@media screen and (max-width: 767px) {
  .detailsh {
    padding-top: 0px; }

  .form-login-body .login-desk .loginform .login-det {
    padding-bottom: 45px; } }

/*# sourceMappingURL=style.css.map */
